.bg-menu{

    background: linear-gradient(138deg, rgba(86,250,255,1) 0%, rgba(245,113,255,1) 100%);
    box-shadow: 0 8px 32px 0 rgba(245,113,255, 0.37);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 150%;

}

.text-menu{

    color: #000000 !important;
    font-size: 20px;
}

.text-menu:hover{

    color: #2a2a2a !important;
}

.dropdown-menu{

    background: transparent;

}

.dropdown-item:hover{

    background: transparent;

}

.dropdown-divider{

    border-color: #000;

}