<div class="integrantes" id="integrantes">
  <div class="container">
    <h1 class="titleHomeW">Integrantes</h1>
    <h4>Aqui contém o número do RA e o nome de todos os integrantes do grupo.</h4>
    <div class="blocoCards">
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/vTt6T35.jpg">
        <h2>2202929</h2>
        <h3> Julia Maria Espinosa</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/MJwufvq.jpg">
        <h2>2202767</h2>
        <h3>Matheus da Silva Oliveira</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/wsoIQ7K.jpg">
        <h2>2203114</h2>
        <h3>José Felipe Paganelli Velloso</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/pIBp1IH.jpg">
        <h2>2202751</h2>
        <h3>Giovanni Di Cunto de Carvalho</h3>
      </div>
    </div>
  </div>
</div>
