<div class="container-fluid bg-site pb-5 pt-5">

  <div class="container">

    <div class="row d-flex align-items-center">

      <div class="col-md-6">

        <h1 class="text-center">Visibilidade Trans</h1>
        <p class="text-justify">29 de janeiro o Brasil comemora o Dia Nacional da Visibilidade Transgênero. O objetivo deste dia é incentivar
          a
          reflexão sobre cidadania entre travestis, transexuais (homens e mulheres transgêneros) e não-binários (pessoas
          que
          não se identificam como homens ou mulheres).</p>
        <p class="text-justify">A transfobia (resistência ou discriminação contra pessoas transgêneros) é uma dura realidade que faz com que
          as pessoas transgêneros abandonem a universidade e tenham dificuldade para entrar na força de trabalho. Além
          do risco para suas vidas.</p>
        <p class="text-justify">“O Brasil, infelizmente, é o país que mais mata pessoas trans no mundo. Com índices muitos mais altos do que
          os países que o seguem. São mortes violentas, cruéis, que muitas vezes sequer chegam a ser notificadas aos
          órgãos públicos ou, quando chegam, não observam a verdadeira identidade de gênero das vítimas” - Letícia
          Oliveira Furtado (Coordenadora do Núcleo de Defesa da Diversidade Sexual e Direito Homoafetivo da Defensoria
          Pública do Rio de Janeiro (Nudversis). </p>
        <p class="text-justify">“Azul para meninos, rosa para meninas, branco para quem está em transição. E, para quem não se sente
          pertencente a qualquer gênero: isso significa que não importa a direção do seu voo, ele sempre estará
          correto!” - Mônica Hemls, criadora da Bandeira do Orgulho Trans </p>
        <p class="text-justify">É importante que as pessoas transgêneros tenham oportunidades e que seus direitos sejam respeitados. No
          Brasil, a TRANSempregos, uma plataforma criada em 2013, trabalha com empresas para trazer pessoas transgêneros
          para o mercado de trabalho formal.</p>
        <p class="text-justify">“A gente continua colocando rótulos, dando forças as palavras. Até quando daremos tanto peso e importância
          para as palavras e não para pessoas? Muitas pessoas nos procuram querendo colocar diversidade, sem trabalhar o
          ecossistema inclusivo”, Maite Schneider (co-fundadora do portal TRANSempregos).</p>
      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/tmzaNpr.png" alt="">

      </div>

    </div>

  </div>

</div>
