<div class="container-fluid pt-5 pb-5">

  <div class="container">

    <div class="row d-flex align-items-center">

      <div class="col-md-6">

        <img src="https://i.imgur.com/JgWiLHB.png" alt="">

      </div>

      <div class="col-md-6">

        <h1 class="text-left">PESSOAS TRANS E O ACESSO AO MERCADO DE TRABALHO</h1>
        <p class="text-justify">É notório que a comunidade trans enfreta diversas dificuldades e preconceito no mundo inteiro, o Brasil por
          exemplo, está no topo entre os países que mais matam pessoas trans no mundo.</p>
        <p class="text-justify">Agora vamos imaginar que para as pessoas trans a entrada no mercado de trabalho e na educação se torna mais
          dificil ainda, então além do preconceito sofrido, ainda tem que enfrentar muitas vezes não conseguir entrar em
          um trabalho formal.</p>

      </div>

    </div>

  </div>

</div>

<div class="container-fluid bg-site pt-5 pb-5">

  <div class="container">

    <div class="row d-flex align-items-center">

      <div class="col-md-6">

        <h2 class="text-center">Cerca de 2% da população é composta por pessoas trans.</h2>
        <h5 class="text-center">Dados específicos são difíceis de obter, pois o censo demográfico brasileiro não contém informações voltadas
          para a população LGBTQ+. As estimativas vêm da Associação Nacional de Travestis e Transexuais - ANTRA.</h5>

        <p class="text-justify">O termo trans é utilizado para denominar um diversificado grupo de pessoas cujas identidades de gênero
          diferem em graus e expressões diversas das determinadas ao sexo que foram atribuídas ao nascer. Entre essa
          população, além de homens trans e pessoas não-binárias, encontram-se mulheres trans e travestis, que encaram
          enormes barreiras impostas pela sociedade e estigmas que as colocam à margem da sociedade.</p>

        <p class="text-justify">O termo "trans" refere-se a um grupo de pessoas cuja identidade de gênero difere em vários graus e
          manifestações do sexo que lhes foi atribuído no nascimento. Esta população inclui homens mulheres
          transgêneros, mulheres transgêneros,
          pessoas não-binárias e travestis, que enfrentam enormes barreiras sociais e
          estigma que os colocam à margem da sociedade.</p>
      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/XJTcaaK.png" alt="">

      </div>

    </div>

  </div>

</div>
