<div class="container-fluid bg-site">

  <div class="container bootstrap snippets bootdeys pt-5 pb-5">

    <div class="row d-flex justify-content-center">

      <div class="col-md-12">

        <h1 class="text-center">57% das pessoas trans que foram entrevistadas não possuem uma formação técnica ou
          específica para a ocupação de
          certos cargos no mercado de trabalho.</h1>
        <p class="text-justify">As mulheres transexuais constituem 42% das que têm um diploma técnico e 58% das que não o têm. Da população
          transgênero, 36% tinha alguma educação específica e 64% não tinha nenhuma educação específica. É digno de
          notar que um
          grupo domina em determinados setores.</p>
        <h5 class="text-center">Principais áreas de formação por identidade de gênero:</h5>

      </div>

    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
          <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
            <div class="content">
              <h4 class="title">Serviço</h4>
              <p class="description">Saúde, embelezamento, alimentação, hotelaria e atividades domésticas</p>
              <p class="description">Mulheres trans 23%</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
          <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
            <div class="content">
              <h4 class="title">Vendas e comércio</h4>
              <p class="description">Mulheres trans 21%</p>
              <p class="description">Travestis 18%</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
          <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
            <div class="content">
              <h4 class="title">Ciências Sociais e Humanas</h4>
              <p class="description">Sociólogos, psicólogos, contadores, admnistração e marketing</p>
              <p class="description">Homens trans 19%</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
          <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
            <div class="content">
              <h4 class="title">Técnico de nível médio</h4>
              <p class="description">Ciências físicas, químicas e engenharia</p>
              <p class="description">Homens trans 17%</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
          <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
            <div class="content">
              <h4 class="title">Comunicação e artes</h4>
              <p class="description">Pessoas não binárias 24%</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <h5 class="text-center">Fonte:<a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/direitos_humanos/LGBT/AnexoB_Relatorio_Final_Mapeamento_Pessoas_Trans_Fase1.pdf" target="_blank"> MAPEAMENTO DAS PESSOAS TRANS NO MUNICÍPIO DE SÃO PAULO</a></h5>

        </div>

    </div>

  </div>
</div>
